In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/content/train.csv")
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

B) Remove the units from some of the attributes and only keep the numerical values (for example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from “New_price”)

In [3]:
def extract_numerical_value(text):
    if pd.isnull(text):
        return None
    elif isinstance(text, float):
        return text
    else:
        numerical_value = ''.join(filter(str.isdigit, str(text)))
        if numerical_value:
            return float(numerical_value)
        else:
            return None

In [5]:
attributes_to_clean = ['Mileage', 'Engine', 'Power', 'New_Price']
for attribute in attributes_to_clean:
    df[attribute] = df[attribute].apply(extract_numerical_value)
df.to_csv("/content/train.csv", index=False)

In [6]:
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,1967.0,1582.0,1262.0,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.0,1199.0,887.0,5.0,861.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,2077.0,1248.0,8876.0,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,152.0,1968.0,1408.0,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,2308.0,1461.0,631.0,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,284.0,1248.0,74.0,5.0,788.0,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,244.0,1120.0,71.0,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,140.0,2498.0,112.0,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,189.0,998.0,671.0,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,2544.0,936.0,576.0,5.0,NaN,2.50

C) Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot encoded value

In [12]:
# Define mappings
transmission_mapping = {"Automatic": 0, "Manual": 1}
fuel_type_mapping = {"Petrol": 0, "Diesel": 1}

# Apply mappings to the dataframe
df["Transmission"] = df["Transmission"].map(transmission_mapping)
df["Fuel_Type"] = df["Fuel_Type"].map(fuel_type_mapping)

# Show first few rows
print(df.head())
df.to_csv("/content/train.csv", index=False)

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven  Fuel_Type  Transmission Owner_Type  Mileage  Engine  \
0              41000        NaN           NaN      First   1967.0  1582.0
1              46000        NaN           NaN      First     13.0  1199.0
2              87000        NaN           NaN      First   2077.0  1248.0
3              40670        NaN           NaN     Second    152.0  1968.0
4              86999        NaN           NaN      First   2308.0  1461.0

    Power  Seats  New_Price  Price
0  1262.0    5.0        NaN  12.50
1   887.0    5.0      861.0   4.50
2  8876.0    7.0        NaN   6.00
3  1408.0    5.0        NaN  17.74
4   631.0    5.0        NaN   3.50

D) Create one more feature and add this column to the dataset (you can use mutate function in R for this). For example, you can calculate the current age of the car by subtracting “Year” value from the current year.

In [14]:

current_year = pd.to_datetime('today').year
df['Current_Age'] = current_year - df['Year']
print(df.head())
df.to_csv("/content/train.csv", index=False)

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven  Fuel_Type  Transmission Owner_Type  Mileage  Engine  \
0              41000        NaN           NaN      First   1967.0  1582.0
1              46000        NaN           NaN      First     13.0  1199.0
2              87000        NaN           NaN      First   2077.0  1248.0
3              40670        NaN           NaN     Second    152.0  1968.0
4              86999        NaN           NaN      First   2308.0  1461.0

    Power  Seats  New_Price  Price  Current_Age
0  1262.0    5.0        NaN  12.50           10
1   887.0    5.0      861.0   4.50           14
2  8876.0    7.0        NaN   6.00           13
3  1408.0    5.0        NaN  17.74           12
4   631.0    5.0        NaN   3.50           12

E) Perform select, filter, rename, mutate, arrange and summarize with group by operations (or their equivalent operations in python) on this dataset.

In [19]:
selected_columns = df[['Name', 'Year', 'Fuel_Type', 'Transmission', 'Price']]
# Filter cars after 2015
filtered_data = df[df['Year'] > 2016]
# 3Rename columns
renamed_df = df.rename(columns={'Mileage': 'Efficiency', 'Power': 'Engine'})
#  Create new column 'Age'
df['Age'] = 2024 - df['Year']
# Sort by 'Price' (highest first)
sorted_df = df.sort_values(by='Price', ascending=False)
#  Summary stats (mean price by Fuel Type)
summary_stats = df.groupby('Fuel_Type')['Price'].mean()
# Summary stats (mean, min, max by Fuel Type)
summary_stats_complex = df.groupby('Fuel_Type').agg({'Price': ['mean', 'min', 'max']})
# Print results
print("Selected Columns:")
print(selected_columns.head())
print("\nFiltered Data (Year > 2016):")
print(filtered_data.head())
print("\nRenamed Columns:")
print(renamed_df.head())
print("\nNew Column 'Age':")
print(df[['Name', 'Year', 'Age']].head())
print("\nSorted by Price:")
print(sorted_df.head())
print("\nSummary Statistics (Mean Price by Fuel Type):")
print(summary_stats)
print("\nSummary Statistics (Complex):")
print(summary_stats_complex)
df.to_csv("/content/train.csv", index=False)

Selected Columns:
                               Name  Year  Fuel_Type  Transmission  Price
0  Hyundai Creta 1.6 CRDi SX Option  2015        NaN           NaN  12.50
1                      Honda Jazz V  2011        NaN           NaN   4.50
2                 Maruti Ertiga VDI  2012        NaN           NaN   6.00
3   Audi A4 New 2.0 TDI Multitronic  2013        NaN           NaN  17.74
4            Nissan Micra Diesel XV  2013        NaN           NaN   3.50

Filtered Data (Year > 2016):
    Unnamed: 0                                     Name Location  Year  \
8           10                         Maruti Ciaz Zeta    Kochi  2018
15          17                    Maruti Swift DDiS VDI   Jaipur  2017
26          28                      Honda WRV i-VTEC VX    Kochi  2018
34          36            Maruti Vitara Brezza ZDi Plus    Kochi  2018
35          37  Mahindra KUV 100 mFALCON G80 K6 5str AW    Delhi  2017

    Kilometers_Driven  Fuel_Type  Transmission Owner_Type  Mileage  Engine  \
8               25692        NaN           NaN      First   2156.0  1462.0
15              25000        NaN           NaN      First    284.0  1248.0
26              37430        NaN           NaN      First    175.0  1199.0
34              50075        NaN           NaN      First    243.0  1248.0
35              52000        NaN           NaN      First   1815.0  1198.0

      Power  Seats  New_Price  Price  Current_Age  Age
8   10325.0    5.0     1065.0   9.95            7    6
15     74.0    5.0        NaN   5.99            8    7
26    887.0    5.0     1057.0   9.90            7    6
34    885.0    5.0     1112.0   8.63            7    6
35     82.0    5.0        NaN   4.85            8    7

Renamed Columns:
   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven  Fuel_Type  Transmission Owner_Type  Efficiency  Engine  \
0              41000        NaN           NaN      First      1967.0  1582.0
1              46000        NaN           NaN      First        13.0  1199.0
2              87000        NaN           NaN      First      2077.0  1248.0
3              40670        NaN           NaN     Second       152.0  1968.0
4              86999        NaN           NaN      First      2308.0  1461.0

   Engine  Seats  New_Price  Price  Current_Age  Age
0  1262.0    5.0        NaN  12.50           10    9
1   887.0    5.0      861.0   4.50           14   13
2  8876.0    7.0        NaN   6.00           13   12
3  1408.0    5.0        NaN  17.74           12   11
4   631.0    5.0        NaN   3.50           12   11

New Column 'Age':
                               Name  Year  Age
0  Hyundai Creta 1.6 CRDi SX Option  2015    9
1                      Honda Jazz V  2011   13
2                 Maruti Ertiga VDI  2012   12
3   Audi A4 New 2.0 TDI Multitronic  2013   11
4            Nissan Micra Diesel XV  2013   11

Sorted by Price:
      Unnamed: 0                                         Name    Location  \
3952        4079  Land Rover Range Rover 3.0 Diesel LWB Vogue   Hyderabad
5620        5781                   Lamborghini Gallardo Coupe       Delhi
5752        5919                       Jaguar F Type 5.0 V8 S   Hyderabad
1457        1505              Land Rover Range Rover Sport SE       Kochi
1917        1974                           BMW 7 Series 740Li  Coimbatore

      Year  Kilometers_Driven  Fuel_Type  Transmission Owner_Type  Mileage  \
3952  2017              25000        NaN           NaN      First   1333.0
5620  2011               6500        NaN           NaN      Third     64.0
5752  2015               8000        NaN           NaN      First    125.0
1457  2019              26013        NaN           NaN      First   1265.0
1917  2018              28060        NaN           NaN      First   1205.0

      Engine   Power  Seats  New_Price   Price  Current_Age  Age
3952  2993.0   255.0    5.0       23.0  160.00            8    7
5620  5204.0   560.0    2.0        NaN  120.00           14   13
5752  5000.0  4881.0    2.0        NaN  100.00           10    9
1457  2993.0   255.0    5.0      139.0   97.07            6    5
1917  2979.0   320.0    5.0        NaN   93.67            7    6

Summary Statistics (Mean Price by Fuel Type):
Series([], Name: Price, dtype: float64)

Summary Statistics (Complex):
Empty DataFrame
Columns: [(Price, mean), (Price, min), (Price, max)]
Index: []